.main-menu {
    background-color: #0a53be;
}

.nav {

}


.nav-item {
    float: left;
    padding: 15px;
    border-left: 1px black solid;
    color: #ffffff;
}

.nav-item:last-of-type {
    border-right: 1px black solid;
}

.nav-item:hover {
    background-color: #89aeff;
}