.table-settings {
    display: none;
    border: 1px coral solid;
    background-color: #20c997;
    margin: 0 0 15px 0;
}

.table-settings.active {
    display: block;
}

.table-settings .item {
    margin: 0 20px 0 0;
}

.table-management-menu {
    height: 40px;
    margin-bottom: 15px;
    background-color: #21222D;
}

.table-settings-button {
    height: 100%;
    float: right;
}