.table-settings {
    display: none;
    border: 1px coral solid;
    background-color: #20c997;
    margin: 0 0 15px 0;
}

.table-settings.active {
    display: block;
}

.table-settings .item {
    margin: 0 20px 0 0;
}

.table-management-menu {
    height: 40px;
    margin-bottom: 15px;
    background-color: #21222D;
}

.table-management-buttons {
    float: right;
    height: 100%;
    font-size: small;
}

.table-settings-button {
    height: 100%;
    margin: 0 10px 0 0;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #ffffff;
    border: none;
}

.table-create-user {
    height: 100%;
    display: inline-block;
    background-color: #ffffff;
    line-height: 40px;
    padding: 0 6px;
}