table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    background-color: #21222D;
    width: 100%;
}

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}

thead,
tfoot {
    background-color: #FCB859;

}

thead th {
    color: #21222D;
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
    color: #FFFFFF;
}

td:last-of-type {
    text-align: center;
}

tbody > tr:nth-of-type(even) {
    background-color: #21222D;
}

h2 {
    color: #FFFFFF;
}